* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
/****************** 
i gave relative units für Container
*******************/
.container {
  display: flex;
  border-radius: 3px;
  width: 60vw;
  height: 50vh;
  margin: 100px auto;
}
/*  flex was given to split window */
.article {
  flex: 3;
  margin: 100px 30px;
}
.article h2 {
  color: #2b77f2;
  font-size: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}
.article p {
  font-size: 18px;
  margin-top: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/*  flex was given to split window */
.form-container {
  flex: 3;
  box-shadow: 0 0 5px 0.1px;
  margin-bottom: 10px;
  border-radius: 5px;
}
input {
  width: 90%;
  padding: 10px;
  margin: 8px 12px;
  border-radius: 5px;
  border: 1px solid gray;
}
input[type="submit"] {
  background-color: #2b77f2;
  color: white;
  border: none;
  font-size: medium;
  border-radius: 5px;
}
form p {
  color: #2b77f2;
  text-align: center;
  margin: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
  font-weight: 500;
}
.btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 70px 25px;
  width: 200px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
section p span {
  font-weight: bold;
}
.section-right > p {
  text-align: center;
  font-size: smaller;
}
hr {
  width: 90%;
  margin: 15px 15px;
}
